* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgb(216, 31, 31) 0%, rgb(199, 105, 107) 53%, rgba(216, 31, 31) 100%);
    padding: 50px 100px 50px 100px;
    overflow: hidden;
}

header {
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
    overflow: hidden;
}

#submenu {
    height: 4%;
    width: 70px;
    background-color: white;
    box-shadow: -25px 15px 0px white, -25px -15px 0px white;
    margin-right: 20px;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    gap: 30px;
}

h1 {
    position: absolute;
    font-size: 2.5rem;
    width: 800px;
    padding-right: 450px;
    color: white;
}

#garrafa-central {
    height: 95%;
}

#coca-background {
    position: absolute;
    z-index: -1;
    width: 90%;
}

@media (max-width: 1326px) {
    body {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    header p {
        font-size: 1rem;
    }
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        position: unset;
        padding-right: 0;
        width: 200px;
        font-size: 1rem;
    }
    #garrafa-central {
        height: 50%;
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    z-index: 1;
}

footer img {
    height: 50px;
    width: 70px;
}

footer h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 50px;
    width: 70px;
    left: 1755px;
    bottom: -8px;
}